<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALz3o_cMEcTa8pzYf5jUhJcBDn48Wlpn8" async defer></script>-->
<div class="container_maps">
  <section id="menus" >
          <nav class="options">
              <h2>Menus <span>disponibles cerca de ti</span></h2>
          </nav>

      <div>
          <div id='ubicacion'></div>
          <!-- Se escribe un mapa con la localizacion anterior-->
          <div id="error"></div><!--muestra mensaje de error si lo hay-->
          <div id="mapholder"></div>
          <div class="menus">
              <div id="">
                  <div >
                      <div class="details" ><a href='#/menus'>
                        <div class="inline"><img class="list" src="{{menu.foto}}" alt="Imagen de menu"/></div>
                        <div class="inline"><h3>{{menu.nombre}}</h3><div> {{menu.poblacion}}</div><div >Menú: {{menu.precio_menu }} €</div>  </div>
                        <div class="inline"><h3>' + of[i].nombre + '</h3><div> ' + of[i].poblacion + '</div><div >Menú: ' + of[i].precio_menu + ' €</div>  </div>
                        <div class="inline"><img class="stars" src="frontend/modules/oferta_menus/view/img/estrellas-{{menu.valoracion}}.png" alt="Imagen de valoracion"></div>
                      </a></div>
                  </div>
              </div>
              <div id="pager">
                  <uib-pagination total-items="menu.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
              </div>
            <!--<div ng-repeat="menu in filteredOferta_menus| filter:filtro" id="{{menu.id}}">
                  <div ng-click="select(menu.id)">
                      <div class="details" ><a href='#/ofertas/{{menu.id}}'>
                        <div class="inline"><img class="list" src="{{menu.foto}}"/></div>
                        <div class="inline"><h3>{{menu.nombre}}</h3><div> {{menu.poblacion}}</div><div >Menú: {{menu.precio_menu }} €</div>  </div>
                        <div class="inline"><h3>' + of[i].nombre + '</h3><div> ' + of[i].poblacion + '</div><div >Menú: ' + of[i].precio_menu + ' €</div>  </div>
                        <div class="inline"><img class="stars" src="frontend/modules/oferta_menus/view/img/estrellas-{{menu.valoracion}}.png"></div>
                      </a></div>
                  </div>
              </div>
              <div id="pager">
                  <uib-pagination total-items="menu.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
              </div>-->
          </div>
      </div>
  </section>
</div>
